.file-system {
  padding: 20px;
  border: 1px solid #ddd;
  width: 300px;
}

.folder {
  margin-left: 20px;
}

.folder-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.file {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.nested-folder {
  margin-left: 20px;
}

.folder-name svg,
.file svg {
  margin-right: 8px;
}
